
@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
    <h1 class="display-4">Welcome to Note App</h1>
    <p>
    <a asp-controller="Account" asp-action="Register" >Register</a> and start to use app.
    </p>
    </div>
}
else
{
    <div>
    @*<form>
        <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>*@

        <div class="card mb-2">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn float-end btn-primary">Details</a>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn float-end btn-primary">Details</a>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn float-end btn-primary">Details</a>
            </div>
        </div>


    </div>

}

